@media (max-width: 767.98px){
   .col_left{
      display: none;
   }
   .container{
      margin: 0;
      display: grid;
      grid-template-columns: 1fr; 
      min-height: 100vh;

   }
   .h-right{
      margin: 9vw 0;
      font-size: 6vw;
   }
  .col_right{
     display: block;
     min-width: 90%;
  }
  form{
     margin: 0 auto;
     width: 90%;
     height: auto;
     font-size: 3.8vw;
  }
  /* Name Field */
  .name_field input{
     height: 10vw;
     font-size: 4.2vw;
     font-weight: 400;
  }

  .rang_inputs{
     justify-content: unset;
  }
  .rang_inputs > *{
     margin-bottom: 9%;
  }
  .area_income_filed, .area_population_filed{
     margin: 3% auto;
  }
  .area_income_filed input, .area_population_filed input{
     width: 72%;
  }
  /* Button */
  .btn_container{
     margin: 6vw 0;
  }
  .result-btn{
     height: 12vw;
  }

}